.nav {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  border-radius: 30px;
}
.frank {
  box-shadow: none;
  letter-spacing: 1px;
  align-items: center;
  font-weight: bold;
  display: block;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 5px;
}

.stylo {
  box-shadow: none;
  list-style-type: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.stylo li {
  position: relative;
}

.stylo li::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.2s ease-out;
}

.stylo li:hover::before {
  width: 100%;
}

.toggle-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 5px;
  padding-right: 15px;
  color: white;

}
